<h1>I am the list Show</h1>

<%= @list.name %><br>

<%= @list.description %><br>

<ul><% @list.movies.each do |movie| %>

<li> <%= movie.title %></li>


<% end %>
</ul>

<%= link_to "All Lists", lists_path %>