<h1 class="display-4 text-primary">I am the Index</h1>

<%= text_field_tag 'search', nil, placeholder: 'Search Movies' %>
<%= submit_tag ("Search"), class: 'btn btn-outline-info ml-3' %>
<ul>
<% @movies.each do |movie|%>
<li>
<%= link_to movie.title, movie_path(movie) %>
</li>
<% end %>
</ul><br>

<%= link_to "Add a Movie to your Collection", new_movie_path%>