<h1>I am the show page </h1>

<div class="card" style="display:flex">

    <div class="card-content">
        <h4 style="margin: 0 0 20px 0"><%= @movie.title %></h4>
       
    </div>
  </div>

  <%= link_to "edit movie", edit_movie_path(@movie) %>
  <%= button_to "delete movie", @movie, method: :delete %>
  
      