<h1>I am the Home page</h1>


<h2><%= link_to "View your Lists", lists_path %></h2><br>
<h2><%= link_to "View your Movies", movies_path %></h2>

<h2><%= link_to "View your Reviews", reviews_path %></h2>

<h2> <%= link_to "Review A Movie", new_review_path %>  </h2>