<h1>Reviews for: <%= link_to @movie.title, movie_path(@movie)%></h1>
<ul class="list-unstyled">
<% @movie.reviews.each do |review| %>
        
     <li> <%= link_to review.rating, movie_review_path(@movie, review) %> - <%= review.content %> reviewed by: <%= review.user.name%></li>
     
<% end %>

 
</ul>







