<h1>I am the review show</h1>
<h2><%= @review.movie.title %></h2>
<%= @review.rating %><br>

<%= @review.content %>
<p><%= link_to "Edit Review", edit_movie_review_path(@review.movie, @review) if @review.movie %></p>
</li>

</ul>


